<h1> <%= t('sectors.show.title') %> </h1>

<strong> <%= t('activerecord.attributes.sector.id') %> </strong>
<p> <%= @sector.id %> </p>

<strong> <%= t('activerecord.attributes.sector.name') %> </strong>
<p> <%= @sector.name %> </p>