<p id="notice"><%= notice %></p>

<h1><%= t('.title') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.capacity.sector_id') %></th>
      <th><%= t('activerecord.attributes.capacity.year') %></th>
      <th><%= t('activerecord.attributes.capacity.month') %></th>
      <th><%= t('activerecord.attributes.capacity.percentage') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @capacities.each do |capacity| %>
      <tr>
        <td><%= capacity.sector.name %></td>
        <td><%= capacity.year %></td>
        <td><%= capacity.month %></td>
        <td><%= capacity.percentage %></td>
        <td><%= link_to t(:ver), capacity %></td>
        <td><%= link_to t(:editar), edit_capacity_path(capacity) %></td>
        <td><%= link_to t(:eliminar), capacity, method: :delete, data: { confirm: t(:esta_seguro) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('capacities.new.button'), new_capacity_path %>
