<p id="notice"><%= notice %></p>

<h1> <%= t('capacities.show.title') %> </h1>

<strong> <%= t('activerecord.attributes.capacity.id') %> </strong>
<p> <%= @capacity.id %> </p>

<strong> <%= t('activerecord.attributes.capacity.sector_id') %> </strong>
<p> <%= @capacity.sector.name %> </p>

<strong> <%= t('activerecord.attributes.capacity.percentage') %> </strong>
<p> <%= @capacity.percentage %> </p>

<strong> <%= t('activerecord.attributes.capacity.date') %> </strong>
<p> <%= @capacity.date.strftime("%d/%m/%Y") %> </p>